# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.output
*.app

# Generated C files
*.tab.*
lex.yy.c
spi-c
symboTest

# Local config files
.editorconfig

# Build folder
# *build/

# OSX Folder thing
*.DS_Store

# Test c files
*.c
debug_tokens\.txt

debug_symbol\.txt

debug_parser\.txt
